.wrapper-footer {
  margin-top: 30px;
  width: 100%;
  min-height: 200px;
  background-color: black;
  color: rgb(165, 165, 165);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.wrapper-footer-top {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.wrapper-footer-nav-info,
.wrapper-footer-contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrapper-footer-bootom {
  border-top: 1px solid gray;
  text-align: center;
  padding: 30px;
}

@media (max-width: 600px) {
  .wrapper-footer-top {
    flex-direction: column;
    justify-content: start;
    gap: 15px;
  }
}
